{{!-- <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <ul>
            {{#each artifact}}
            <li class="list-group-item">
                <div class="lead">
                    <a href="/posts/{{this._id}}" class="lead">{{this.artifactSet}}</a>
                </div>

                <div><small>Posted by: {{this.owner}}</small></div>
            </li>

            {{/each}}
        </ul>
    </div>
</div> --}}

<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <ul>
            {{#each artifacts}}
            <li class="list-group-item">
                <div class="lead">
                    <a href="/posts/{{this._id}}" class="lead">{{this.artifactSet}}</a>
                </div>

                <div><small>{{this.owner.username}}'s artifact</small></div>
            </li>
            {{/each}}
        </ul>
    </div>
</div>