<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <h2>{{builds.name}}</h2>
        {{builds.flower.artifactSet}}
        {{builds.feather.artifactSet}}
        {{builds.sands.artifactSet}}
        {{builds.goblet.artifactSet}}
        {{builds.circlet.artifactSet}}
        <p>{{builds.owner.username}}</p>

    </div>
</div>