<div class="row">

    <div class="col-sm-4 col-sm-offset-4">

        <form action="/builds/new" method="post">

            <legend>Create a New Build Here</legend>

            <div class="mb-4 form-group">
                <label for="Build name">Build Name</label>
                <input type="text" name="name" class="form-control" id="name" placeholder="Build Name">
            </div>

            {{!-- <div class="mb-3 form-group">
                <label for="Flower">Flower Piece</label>
                <input type='text' name="flower" class="form-control" id="flower" placeholder="First Substat"></input>
            </div> --}}

            <div class="mb-3 form-group">
                <label for="Flower">Flower Piece</label>
                <div>
                    {{#each artifacts}}
                    <label>{{this.artifactSet}}</label>
                    <input type='radio' name="flower" value={{this._id}}>
                    {{/each}} </div>
                {{!-- <input type="text" name="flower" class="form-control" id="flower" placeholder="Artifact set"> --}} {{!-- <select>

                    {{#select flower}}
                    {{#each artifacts}}

                    <option style='width: 200px' id="flower" value={{this}} name="flower">
                        {{this.artifactSet}}
                    </option>

                    {{/each}}
                    {{/select}}
                </select> --}}
            </div>

            <div class="mb-3 form-group">
                <label for="Feather Piece">Feather Piece</label>
                {{#each artifacts}}
                <label>{{this.artifactSet}}</label>
                <input type='radio' name="feather" value={{this._id}}>
                {{/each}} </div>
    </div>
</div>

<div class="mb-3 form-group">
    <label for="Sands Piece">Sands Piece</label>

    {{#each artifacts}}
    <label>{{this.artifactSet}}</label>
    <input type='radio' name="sands" value={{this._id}}>
    {{/each}} </div>

</div>

<div class="mb-3 form-group">
    <label for="Goblet Piece">Goblet Piece</label>
    {{#each artifacts}}
    <label>{{this.artifactSet}}</label>
    <input type='radio' name="goblet" value={{this._id}}>
    {{/each}} </div>
</div>

<div class="mb-3 form-group">
    <label for="Circlet Piece">Circlet Piece</label>
    {{#each artifacts}}
    <label>{{this.artifactSet}}</label>
    <input type='radio' name="circlet" value={{this._id}}>
    {{/each}} </div>
</div>

<div class='text-right'>
    <button type="submit" class="btn btn-primary">Create my Build!</button>
</div>
</form>

</div>

</div>